
<header class="content">

  <div class="logo">
    <div class="images">
    <img src="sanchez.jpg" alt="" width="200px" height="150px">
    <img src="titulo.jpg" alt="" width="300px" height="100px">
    </div>
  </div>
  <div class="menu">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Historia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Capitulos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#">Mundos</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </nav>

  </div>
</header>
