<footer>
  <div class="container">
    <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium voluptate possimus voluptatum! Nam
      vitae dolor cum nulla ut provident consequatur quae fugiat, voluptate porro, nesciunt doloremque, sint architecto
      a sequi.</small>

    <div class="logo">
      <img src="ric-logo.webp" alt="" width="100px">
      <h6><a target="_blank" href="https://rickandmortyapi.com/">Api Rick y Morty</a> </h6>
    </div>
  </div>
</footer>
