ul{
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}
ul li{
  padding: 10px;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
img{
  width: 50%;
}
}
